
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="initial-scale=1.0, width=device-width" />
    <link type="application/atom+xml" rel="alternate" href="{{ "/feed/atom/" | relative_url }}" title="{% if page.title %}{{ site.title }}: {{ page.title | escape }}{% else %}{{ site.title | escape }}{% endif %}" />
    <link rel="apple-touch-icon-precomposed" sizes="57x57" href="{{ "/assets/favicon/57x57.png" | relative_url }}" />
    <link rel="apple-touch-icon-precomposed" sizes="60x60" href="{{ "/assets/favicon/60x60.png" | relative_url }}" />
    <link rel="apple-touch-icon-precomposed" sizes="72x72" href="{{ "/assets/favicon/72x72.png" | relative_url }}" />
    <link rel="apple-touch-icon-precomposed" sizes="76x76" href="{{ "/assets/favicon/76x76.png" | relative_url }}" />
    <link rel="apple-touch-icon-precomposed" sizes="114x114" href="{{ "/assets/favicon/114x114.png" | relative_url }}" />
    <link rel="apple-touch-icon-precomposed" sizes="120x120" href="{{ "/assets/favicon/120x120.png" | relative_url }}" />
    <link rel="apple-touch-icon-precomposed" sizes="144x144" href="{{ "/assets/favicon/144x144.png" | relative_url }}" />
    <link rel="apple-touch-icon-precomposed" sizes="152x152" href="{{ "/assets/favicon/152x152.png" | relative_url }}" />
    <link rel="icon" type="image/png" sizes="16x16" href="{{ "/assets/favicon/16x16.png" | relative_url }}" />
    <link rel="icon" type="image/png" sizes="32x32" href="{{ "/assets/favicon/32x32.png" | relative_url }}" />
    <link rel="icon" type="image/png" sizes="96x96" href="{{ "/assets/favicon/96x96.png" | relative_url }}" />
    <link rel="icon" type="image/png" sizes="128x128" href="{{ "/assets/favicon/128x128.png" | relative_url }}" />
    <link rel="icon" type="image/png" sizes="196x196" href="{{ "/assets/favicon/196x196.png" | relative_url }}" />
    {% seo title=false %}
    <title>{% if page.title %}{{ site.title }}: {{ page.title }}{% else %}{{ site.title }}{% endif %}</title>
    <link rel="preconnect" href="https://fonts.gstatic.com" />
    <link
      href="https://fonts.googleapis.com/css2?family=Crimson+Text:ital,wght@0,400;0,700;1,400;1,700&family=Fira+Mono&family=Lato&family=Playfair+Display:ital,wght@0,700;1,700&display=swap"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="{{ "/assets/main.css" | relative_url }}">
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-599161-2"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());

      gtag('config', 'UA-599161-2');
    </script>
  </head>
